
body {
   background-color: #2D0162;
   font: normal 16px/1.5 'Poppins', sans-serif;
    position: relative;
    color: #fff;
 }
 
a{
  text-decoration: none;
  color:inherit;
}

.filter-default{
  color:#000000;
}

.blog-card{
  min-height: 200px;
}

 i {
  color: #ffff;
 }

 .personal-logo {
   align-content: center;
   justify-content: left;
   margin-left: 150px;
   display: flex;
 }

 /* navigation bar content - individual items - li */

 ul li {
   list-style: none;
 }

 /* navigation bar content - link text styling inside li - a */
 .nav-link {
   text-transform: uppercase;
   color: #fff;
   font-size: 0.875em;
   white-space: nowrap;
   letter-spacing: 1px;
   padding: 2rem;
 }
 
 .navbar-nav {
   display: flex;
   flex-direction: row;
   margin-right: 150px;
 }

  #navmenu li a:hover{
    color: #ffff;
  }

  .nav-item .active {
    color: #932fec!important;
  }


 /* navigation bar content - link text styling inside
 li - a with hover selector */
 ul li a:hover {
   border-bottom: 3px solid #fff;
 }
 
 /* styling for banner image and text */
 .header {
   padding: 20px;
   height: 100%;
   background-size: cover;
   position: relative;
 }
 
 .header h1 {
   font-weight: 600px;
   font-size: 5.5rem;
   text-align: center;
   color: #fff;
   padding-top: 10px;
   padding-left: 50px;
 }


 .big-image {
   text-align: center;
   margin: 0px;
 }


.container-sm {
   text-align: center;
   justify-content: center;
   color: #fff;
}

.OutBox1,.OutBox2, .OutBox3, .OutBox4 {
  width: 250px;
  height: 15px;
  margin-right: 15px;
  border-radius: 10px;
  background: #ffff;
}

.d-flex {
  color: #ffff;
  display: flex!important;
  flex-wrap: wrap;
  flex-direction: column;
}

.Myskill {
  color: #ffff;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: baseline;
}

.h3 {
  padding: 3rem;
  justify: center;
}

 /*
.container2 {
 display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: center;
  align-content: flex-end;
  align-items: baseline;
 

}
 */

.InnerBox1 {
  width: 90%;
  height: 15px;
  border-radius: 10px;
  background: linear-gradient(#CE16E8 ,#793AEE);
  animation: AdobePhotoshop 4s ease-in-out forwards;
}

.InnerBox2 {
  width: 76%;
  height: 15px;
  border-radius: 10px;
  background: linear-gradient(#CE16E8 ,#793AEE);
  animation: AdobePremiere 4s ease-in-out forwards;
}

.InnerBox3 {
  width: 80%;
  height: 15px;
  border-radius: 10px;
  background: linear-gradient(#CE16E8 ,#793AEE);
  animation: Canva 4s ease-in-out forwards;
}

.InnerBox4 {
  width: 60%;
  height: 15px;
  border-radius: 10px;
  background: linear-gradient(#CE16E8 ,#793AEE);
  animation: HTMLCSS 4s ease-in-out forwards;
}

@keyframes AdobePhotoshop {
  0% {
    width: 0;
  }
  100%{
    width: 90%;
  }
}

@keyframes AdobePremiere {
  0% {
    width: 0;
  }
  100%{
    width: 76%;
  }
}

@keyframes Canva {
  0% {
    width: 0;
  }
  100%{
    width: 80%;
  }
}

@keyframes HTMLCSS {
  0% {
    width: 0;
  }
  100%{
    width: 60%;
  }
}

.carousel {
  margin-top: 50px;
  margin-bottom: 60px;
}

.form-group {
  margin-bottom: 20px;
}

.h4 {
  font-size: 8rem;

}


#getintouch {
  margin-top: 200px;
  margin-bottom: 150px;
}

#getintouchinfo h4{
  font-size: 68px;
  font-weight: bold;
}

#getintouchinfo p{
  font-size: 17px;
  font-weight: 170;
  
}

/*About Me*/

.image1 {
  width: 204px;
  height:250px;
  justify-content: center;
}

.aboutme-items {
  justify-items: center;
  color: #ffff;
  text-align: center;
  margin: 10px 300px;
}

.aboutme-items p {
  margin-bottom: 8rem;
}

.aboutme-items h1 {
  margin-top: 3rem;
}

.h1 {
  font-weight: 600px; 
  font-size: 8rem;
  color: #fff;
}

.text {
  font-size: medium;
}

.text-body-secondary {
  --bs-text-opacity: 1;
  color: rgb(228 239 251 / 75%)!important;
}

.companylogo {
  width: 30px;
  height: 35px;
}

/*carousel pictures*/
#infographics {
  width: 37vh;
}

#socmed1 {
  width: 96vh;
}

#socmed2 {
  width: 96vh;
}

#socmed3 {
  width: 96vh;
}

#brand {
  width: 119vh;
}

#schedule {
  width: 119vh;
}

/*Blogs*/

#blogs {
  margin-top: 10vh;
  margin-right: 30vh;
  margin-left: 30vh;
}

.blogimage {
  inline-size: -webkit-fill-available;
}


.img.img-fluid {
  width: 50px;
  height: 50px;
  margin-left: 80px;
}

.card-img-top {
  width: 100%;
  height: 50vw;
  object-fit: cover;
}

#favblog {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.embed-responsive {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin-top: 300px;
  margin-bottom: 300px;
}

.embed-responsive-item {
  width: 900px;
  height: 550px;
  padding: 50px;
}

#blogstitle {
  font-size: 100px;
  margin-bottom: 50px;
}


